*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightgreen;
  font-family: Sans-Serif;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.container{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  padding: 10px;
}
.container1{
  background-color: lightgrey;
  border-radius: 5px;
  box-shadow: 5px 5px 20px lightgreen;
  padding: 8px;
  margin: 10px;
}
.bal{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Ny{
  display: flex;
  gap: 10px;
  padding: 10px;
}
.TNy{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-right: 2px solid green;
  padding-right: 10px;
}
.Texp{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container2{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 10px;
  width: 100%;
}
.display2{
  display: flex;
  flex-direction: column;
}
.tb{
  margin-bottom: 15px;
}
.table-container{
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;;
}
table{
  border-collapse: collapse;
  width: 100%;
}
thead th {
  position: sticky;
  top: 0; 
  background-color:green;
  z-index: 1;
  
}
th,td{
  padding: 6px;
  text-align: left;
  
  
}
tr{
  border:1.5px solid lightgrey;
}

.actionbtn{
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-direction: row;
}
.display3{
  display: flex;
  flex-direction: column;
}
.form-group{
  display: grid;
  grid-template-columns: 70px 0.5fr;
  align-items: center;
  margin-bottom: 8px;
}
label{
  text-align: left;
  padding-left: 10px;
}
form{
  border-left: 2px solid green;
  margin-top: 10px;
}
button{
  background-color: grey;
  color: white;
  font-weight: bold;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  font-size: 5px;
}
input{
  outline: none;
  padding: 1px;
  width: 150px;
}
select{
  outline: none;
  padding: 2px;
  font-size: 5px;
}
.filter{
  display: grid;
  grid-template-columns: 100px 1fr;
 margin-left:10px;
}
.total{
  display: flex;      /* or inline-flex */
  align-items: center;
  font-weight: bold;
  
  margin-left: 140px;
  
  margin-top: 2px;
}
.addexp{
  background-color: green;
  padding: 5px;
  border-radius: 5px;
}
.addexp:hover{
  cursor: pointer;
  background-color: lightgreen;
}
span{
  display: flex;
  justify-content: center;
}